extends layout
block css
  style(type="text/css").
block content
  include includes/header.jade
  h2 #{title}
  textarea width="100px" height:"500px">
在w3school，你可以找到你所需要的所有的网站建设教程。
</textarea>
  script.
    $(".username").hide();
