doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/stylesheets/jquery.js")
    script(src="/stylesheets/jquery-ui.min.js")
    style(type="text/css").
      block css
  body
    block content
