doctype html
html
  head
    link(rel='query.js', href='/stylesheets/query.js')
    block sc
    script(src="jquery.js", href='/stylesheets/jquery.js')
    script(src="jquery-ui.min.js", href='/stylesheets/jquery-ui.min.js')
    div.header
      title= title
      p.login 登录
      
      p.username(display="none") aa

    
    block css
  body
    //- div 页头
    block content
    //- div 页尾
