doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(rel="jquery.js", href='/stylesheets/jquery.js')
    script(rel="jquery-ui.min.js", href='/stylesheets/jquery-ui.min.js')
    div.header
      title= title
      p.login 登录
      p.username(display="none",color:red aa
    style(type="text/css")
      .login(color:red)
    block css
  body
    //- div 页头
    block content
    //- div 页尾
