extends layout
block css
  style(type="text/css").
    .bloglist{height:100%;border:1px solid #999999;float:left;}
block content
  include includes/header.jade
  h2 文章管理
  input(type="submit" value="新建博客")
  div.bloglist
    li  
  script.
    $(".username").hide();