extends layout
block css
  
block content
  h1= title
  input(type="submit" value="新建博客")
  //- button(type="submit" value="新建博客") 新建博客
  h2 文章管理
  table
    tr 
      td 标题
    tr
  script
    $(".username").hide();