//- extends layout
//- block css
//- block content
//-   h1= title
//-   input(type="submit" value="新建博客")
//-   //- button(type="submit" value="新建博客") 新建博客
//-   h2 文章管理
//-   script.
//-     $(".username").hide();

extends layout
    style(type="text/css").
  body
    //- div 页头
    include includes/header.jade
    h2 文章管理
    input(type="submit" value="新建博客")
    script.
      $(".username").hide();