extends layout

block content
  h1= title
  input(type="submit" value="新建博客")
    a(class='button', href='baidu.com') 百度
html
    head

    body
      input(type="submit" value="新建博客")
      a(class='button', href='baidu.com') 百度