extends layout
block css
    style(type="text/css").
        .logindiv{height: 400px;width: 350px;background-color: #ffffff; 
             position: absolute;
             left: 50%;
             top: 50%;
             margin:-250px 0 0 -150px;z-index: 2;
             box-shadow: darkgrey 10px 10px 30px 5px ;display: none;}
        .dl{text-align: center;top: 20px;position: absolute;left: 44%;}
        .ipt{position: absolute;top:40%;left: 28%;}
block content
    include includes/header.jade
   