div.header
    h1.title1 #{title}
    p.login 登录
    p.username(display="none") #{username}
style.
    .header{height:50px;background:rgba(47,47,47,0.98);\margin:0 auto;}
    .title1{float:left;text-align:center;vertical-align: middle;color:white;padding:0 auto;margin:0 auto;}
    .login,.username{float:right;color:white}
