div.header
    h1.title1 #{title}
    p.login 登录
    p.username(display="none") #{username}
style.
    .header height:50px;backg
    .title1{float:left;text-align:center;vertical-align: middle;}
    .login,.username{float:right;}

